#MAIN_PANE {
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#RIGHT_BOX {
    -fx-background-color: black;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

#UP {
    -fx-background-color: black;
}

#DOWN {
    -fx-background-color: black
}

#RIGHT {
    -fx-background-color: black
}

#LEFT {
    -fx-background-color: black
}

#DOWN_BOX {
    -fx-background-color: linear-gradient(black, darkgreen, black);
}

#TOP_BOX {
    -fx-background-color: linear-gradient(black, darkgoldenrod, black);
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

#TITLE_BAR {
    -fx-background-color: greenyellow;
}

#EXITER {
    -fx-base: greenyellow;;
}

#MINIMISER {
    -fx-base: greenyellow;
}

#NAME {
}

#ICON {
    -fx-base: greenyellow;

    /*-fx-background-color: greenyellow;*/
}

#GAME_BOARD {
    -fx-background-color: black;
    -fx-background-radius: 8;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-radius: 8;
}